# Ambientes virtuais
venv/
env/
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações do VS Code
.vscode/

# Arquivos de variáveis de ambiente (nunca comite senhas!)
.env
.env.local

# Banco de dados local (se usar SQLite futuramente)
*.sqlite3
*CRUD-API-Data-Application.md
*data/